Manifest.toml

# Ignore for benchmarkpkg
# Otherwise, crash because git fail to checkout when dirty
benchmark/Project.toml
benchmark/report.md
benchmark/*.json
benchmark/benchmark/tune.json

# Ignore for artifact mock
fluxml-benchmark-result-*/

# Ignore other *.md
/*.md
!README.md
